{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% set total = breadcrumbs|length %}
    {% set counter = 0 %}
    {% for breadcrumb in breadcrumbs %}
      {{ breadcrumb['separator'] }}
      {% set counter = counter + 1 %}
      {% if (counter == total) %}
        <li>{{ breadcrumb['text'] }}</li>
      {% else %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ text_message }}
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}