{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        {% if (error_warning) %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-files-o"></i> {{ text_newsletter_template }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
                    <fieldset>
                        <legend>{{ text_settings }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-uri">{{ entry_product_template }}</label>
                            <div class="col-sm-10">
                                <select name="uri" id="input-uri" class="form-control">
                                    {% for key,part in parts %}
                                        {% if (uri == key) %}
                                            <option value="{{ key }}" selected="selected">{{ part }}</option>
                                        {% else %}
                                            <option value="{{ key }}">{{ part }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_image_size }}">{{ entry_image_size }}</span></label>
                            <div class="col-sm-10">
                                <div class="form-inline">
                                    <div class="form-group" style="margin-left:0; margin-right:15px;">
                                        <input type="text" name="product_image_width" size="3" value="{{ product_image_width }}" class="form-control" />
                                    </div>
                                    <div class="form-group" style="margin-left:0; margin-right:15px;">
                                        <input type="text" name="product_image_height" size="3" value="{{ product_image_height }}" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_show_prices }}</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    {% if (product_show_prices) %}
                                        <input type="radio" name="product_show_prices" value="1" checked="checked" />
                                        {{ entry_yes }}
                                    {% else %}
                                        <input type="radio" name="product_show_prices" value="1" />
                                        {{ entry_yes }}
                                    {% endif %}
                                </label>
                                <label class="radio-inline">
                                    {% if (not product_show_prices) %}
                                        <input type="radio" name="product_show_prices" value="0" checked="checked" />
                                        {{ entry_no }}
                                    {% else %}
                                        <input type="radio" name="product_show_prices" value="0" />
                                        {{ entry_no }}
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_show_savings }}</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    {% if (product_show_savings) %}
                                        <input type="radio" name="product_show_savings" value="1" checked="checked" />
                                        {{ entry_yes }}
                                    {% else %}
                                        <input type="radio" name="product_show_savings" value="1" />
                                        {{ entry_yes }}
                                    {% endif %}
                                </label>
                                <label class="radio-inline">
                                    {% if (not product_show_savings) %}
                                        <input type="radio" name="product_show_savings" value="0" checked="checked" />
                                        {{ entry_no }}
                                    {% else %}
                                        <input type="radio" name="product_show_savings" value="0" />
                                        {{ entry_no }}
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-description-length"><span data-toggle="tooltip" title="{{ help_description_length }}">{{ entry_description_length }}</span></label>
                            <div class="col-sm-10 col-md-2">
                                <input type="text" name="product_description_length" value="{{ product_description_length }}" id="input-product-description-length" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-cols">{{ entry_columns }}</label>
                            <div class="col-sm-10 col-md-2">
                                <input type="text" name="product_cols" value="{{ product_cols }}" id="input-product-cols" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-specials-count"><span data-toggle="tooltip" title="{{ help_specials_count }}">{{ entry_specials_count }}</span></label>
                            <div class="col-sm-10 col-md-2">
                                <input type="text" name="specials_count" value="{{ specials_count }}" id="input-specials-count" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-latest-count"><span data-toggle="tooltip" title="{{ help_latest_count }}">{{ entry_latest_count }}</span></label>
                            <div class="col-sm-10 col-md-2">
                                <input type="text" name="latest_count" value="{{ latest_count }}" id="input-latest-count" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-popular-count"><span data-toggle="tooltip" title="{{ help_popular_count }}">{{ entry_popular_count }}</span></label>
                            <div class="col-sm-10 col-md-2">
                                <input type="text" name="popular_count" value="{{ popular_count }}" id="input-popular-count" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ text_styles }}</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-heading-color"><span data-toggle="tooltip" title="{{ help_heading_color }}">{{ entry_heading_color }}</span></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group color">
                                    <input type="text" name="heading_color" value="{{ heading_color }}" id="input-heading-color" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-heading-style"><span data-toggle="tooltip" title="{{ help_heading_style }}">{{ entry_heading_style }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="heading_style" value="{{ heading_style }}" id="input-heading-style" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-name-color"><span data-toggle="tooltip" title="{{ help_name_color }}">{{ entry_name_color }}</span></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group color">
                                    <input type="text" name="product_name_color" value="{{ product_name_color }}" id="input-product-name-color" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-name-style"><span data-toggle="tooltip" title="{{ help_name_style }}">{{ entry_name_style }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="product_name_style" value="{{ product_name_style }}" id="input-product-name-style" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-model-color"><span data-toggle="tooltip" title="{{ help_model_color }}">{{ entry_model_color }}</span></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group color">
                                    <input type="text" name="product_model_color" value="{{ product_model_color }}" id="input-product-model-color" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-model-style"><span data-toggle="tooltip" title="{{ help_model_style }}">{{ entry_model_style }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="product_model_style" value="{{ product_model_style }}" id="input-product-model-style" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-price-color"><span data-toggle="tooltip" title="{{ help_price_color }}">{{ entry_price_color }}</span></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group color">
                                    <input type="text" name="product_price_color" value="{{ product_price_color }}" id="input-product-price-color" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-price-style"><span data-toggle="tooltip" title="{{ help_price_style }}">{{ entry_price_style }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="product_price_style" value="{{ product_price_style }}" id="input-product-price-style" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-price-color-special"><span data-toggle="tooltip" title="{{ help_price_color_special }}">{{ entry_price_color_special }}</span></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group color">
                                    <input type="text" name="product_price_color_special" value="{{ product_price_color_special }}" id="input-product-price-color-special" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-price-style-special"><span data-toggle="tooltip" title="{{ help_price_style_special }}">{{ entry_price_style_special }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="product_price_style_special" value="{{ product_price_style_special }}" id="input-product-price-style-special" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-price-color-when-special"><span data-toggle="tooltip" title="{{ help_price_color_when_special }}">{{ entry_price_color_when_special }}</span></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group color">
                                    <input type="text" name="product_price_color_when_special" value="{{ product_price_color_when_special }}" id="input-product-price-color-when-special" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-price-style-when-special"><span data-toggle="tooltip" title="{{ help_price_style_when_special }}">{{ entry_price_style_when_special }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="product_price_style_when_special" value="{{ product_price_style_when_special }}" id="input-product-price-style-when-special" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-description-color"><span data-toggle="tooltip" title="{{ help_description_color }}">{{ entry_description_color }}</span></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group color">
                                    <input type="text" name="product_description_color" value="{{ product_description_color }}" id="input-product-description-color" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-description-style"><span data-toggle="tooltip" title="{{ help_description_style }}">{{ entry_description_style }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="product_description_style" value="{{ product_description_style }}" id="input-product-description-style" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-savings-color"><span data-toggle="tooltip" title="{{ help_savings_color }}">{{ entry_savings_color }}</span></label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group color">
                                    <input type="text" name="product_savings_color" value="{{ product_savings_color }}" id="input-product-savings-color" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-product-savings-style"><span data-toggle="tooltip" title="{{ help_savings_style }}">{{ entry_savings_style }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="product_savings_style" value="{{ product_savings_style }}" id="input-product-savings-style" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-custom-css">{{ entry_custom_css }}</label>
                            <div class="col-sm-10">
                                <textarea name="custom_css" rows="10" id="input-custom-css" class="form-control">{{ custom_css }}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ text_template }}</legend>
                        <ul class="nav nav-tabs" id="languages">
                            {% for language in languages %}
                                <li><a href="#language-{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for language in languages %}
                                <div class="tab-pane" id="language-{{ language['language_id'] }}">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-subject-{{ language['language_id'] }}">{{ entry_subject }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="subject[{{ language['language_id'] }}]" value="{{ subject[language['language_id']] is defined ? subject[language['language_id']] : '' }}" placeholder="{{ entry_subject }}" id="input-subject-{{ language['language_id'] }}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-defined-text-{{ language['language_id'] }}">{{ entry_defined_text }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="defined_text[{{ language['language_id'] }}]" value="{{ defined_text[language['language_id']] is defined ? defined_text[language['language_id']] : '' }}" placeholder="{{ entry_defined_text }}" id="input-defined-text-{{ language['language_id'] }}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-special-text-{{ language['language_id'] }}">{{ entry_special_text }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="special_text[{{ language['language_id'] }}]" value="{{ special_text[language['language_id']] is defined ? special_text[language['language_id']] : '' }}" placeholder="{{ entry_special_text }}" id="input-special-text-{{ language['language_id'] }}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-latest-text-{{ language['language_id'] }}">{{ entry_latest_text }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="latest_text[{{ language['language_id'] }}]" value="{{ latest_text[language['language_id']] is defined ? latest_text[language['language_id']] : '' }}" placeholder="{{ entry_latest_text }}" id="input-latest-text-{{ language['language_id'] }}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-popular-text-{{ language['language_id'] }}">{{ entry_popular_text }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="popular_text[{{ language['language_id'] }}]" value="{{ popular_text[language['language_id']] is defined ? popular_text[language['language_id']] : '' }}" placeholder="{{ entry_popular_text }}" id="input-popular-text-{{ language['language_id'] }}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-categories-text-{{ language['language_id'] }}">{{ entry_categories_text }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="categories_text[{{ language['language_id'] }}]" value="{{ categories_text[language['language_id']] is defined ? categories_text[language['language_id']] : '' }}" placeholder="{{ entry_categories_text }}" id="input-categories-text-{{ language['language_id'] }}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-savings-text-{{ language['language_id'] }}">{{ entry_savings_text }}</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="savings_text[{{ language['language_id'] }}]" value="{{ savings_text[language['language_id']] is defined ? savings_text[language['language_id']] : '' }}" placeholder="{{ entry_savings_text }}" id="input-savings-text-{{ language['language_id'] }}" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-template-body-{{ language['language_id'] }}">{{ entry_template_body }}</label>
                                        <div class="col-sm-10">
                                            <textarea name="body[{{ language['language_id'] }}]" id="input-template-body-{{ language['language_id'] }}" class="form-control">{{ body[language['language_id']] is defined ? body[language['language_id']] : '' }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-text-message-{{ language['language_id'] }}">{{ entry_text_message }}</label>
                                        <div class="col-sm-10">
                                            <textarea name="text_message[{{ language['language_id'] }}]" id="input-text-message-{{ language['language_id'] }}" rows="10" class="form-control">{{ text_message[language['language_id']] is defined ? text_message[language['language_id']] : '' }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <div class="alert alert-info">
                                    {{ text_message_info }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="view/javascript/ne/ckeditor/ckeditor.js"></script>
    <script type="text/javascript"><!--
        {% for language in languages %}
        CKEDITOR.replace('input-template-body-{{ language['language_id'] }}', {
            height:'500'
        });
        {% endfor %}
        //--></script>
    <script type="text/javascript"><!--
        $(function(){
            $('.color').colorpicker({
                'format': 'hex'
            });
        });
        //--></script>
    <script type="text/javascript"><!--
        $('#languages a:first').tab('show');
        //--></script>
</div>
{{ footer }}