{% if not logged %}
<style>
.widget_account_icons_links
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	float: left;
}
.socnetauthbox
{
	border: 1px solid #ddd;
	margin-bottom: 20px;    
	border-radius: 4px 4px 4px 4px;
}
.socnetauthbox h3
{
	margin: 0px;
	color: #888888;
}
.socnetauthbox .socnetauthhead
{
	border-radius: 4px 4px 0px 0px;
	background: none repeat scroll 0 0 #eeeeee;
	border-bottom: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.socnetauthbox .socnetauthbody
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.socnetauthform td
{
	padding-top: 5px;
}
</style>

<div  class="socnetauthbox">
<div class="socnetauthhead">
<h3>{{ heading_title }}</h3>
</div>
<div class="socnetauthbody">
	<form action="{{ action }}" method="post" enctype="multipart/form-data">
	<table class="socnetauthform">
		<tr>
			<td>{{ entry_email }}</td>
		</tr>
		<tr>
			<td><input type="text" class="form-control col-sm-3" name="email" value=""></td>
		</tr>
		<tr>
			<td>{{ entry_password }}</td>
		</tr>
		<tr>
			<td><input type="password" class="form-control col-sm-3" name="password"></td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="{{ text_login }}" class="btn btn-primary" />
			</td>
		</tr>
	</table>
	

{% if socnetauth2_widget_format == 'kvadrat'  %}
<br>
<div class="content widget_account_socnetauth_kvadrat_content">		
		<div class="widget_account_kvadrat_right">
		<table>
			<tr>
				{% if socnetauth2_socnets.0  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.0.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.0.short }}45.png"></a></td>{% endif %}
				
				{% if socnetauth2_socnets.1  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.1.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.1.short }}45.png"></a></td>{% endif %}
				
				{% if socnetauth2_socnets.2  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.2.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.2.short }}45.png"></a></td>{% endif %}
			</tr>
			<tr>
				{% if socnetauth2_socnets.3  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.3.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.3.short }}45.png"></a></td>{% endif %}
				
				{% if socnetauth2_socnets.4  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.4.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.4.short }}45.png"></a></td>{% endif %}
				
				{% if socnetauth2_socnets.5  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.5.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.5.short }}45.png"></a></td>{% endif %}
			</tr>
		</table>
		</div>
</div>			
 {% endif %}		  
 {% if socnetauth2_widget_format == 'lline'  %}  
		<div class="widget_account_lline_links">
		<table>
			<tr>
				{% if socnetauth2_socnets.0  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				data-href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.0.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.0.short }}16.png"></a></td>{% endif %}
				{% if socnetauth2_socnets.1  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				data-href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.1.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.1.short }}16.png"></a></td>{% endif %}
				{% if socnetauth2_socnets.2  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				data-href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.2.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.2.short }}16.png"></a></td>{% endif %}
				
				{% if socnetauth2_socnets.3  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				data-href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.3.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.3.short }}16.png"></a></td>{% endif %}
				
				{% if socnetauth2_socnets.4  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				data-href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.4.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.4.short }}16.png"></a></td>{% endif %}
				
				{% if socnetauth2_socnets.5  %}<td style="padding: 5px;"><a class="socnetauth2_buttons" 
				data-href="/index.php?route=extension/module/socnetauth2/{{ socnetauth2_socnets.5.key }}&first=1"
				><img src="/image/icon-social/{{ socnetauth2_socnets.5.short }}16.png"></a></td>{% endif %}
			</tr>
		</table>
		</div>		  
 {% endif %}	
	</form>
    <ul>
      <li><a href="{{ login }}">{{ text_login }}</a> / <a href="{{ register }}">{{ text_register }}</a></li>
      <li><a href="{{ forgotten }}">{{ text_forgotten }}</a></li>
    </ul>
    
</div>

</div>
    {% endif %} 
	
	{{ socnetauth2_confirm_block }}
	