{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
	<div class="container-fluid">
	  <div class="pull-right">

		<a href="javascript: $('#stay_field').attr('value', '0'); $('#form').submit();" 
		data-toggle="tooltip" 
		title="{{ button_save_and_go }}" 
		class="btn btn-primary"><i class="fa fa-save"></i></a>
		
		<a href="javascript: set_tab(); $('#stay_field').attr('value', '1'); $('#form').submit();" 
		data-toggle="tooltip"  
		title="{{ button_save_and_stay }}" 
		class="btn btn-primary"><i class="fa fa-pencil"></i></a>
		
		<a href="{{ cancel }}" 
		data-toggle="tooltip" 
		title="{{ button_cancel }}" 
		class="btn btn-default"><i class="fa fa-reply"></i></a>
	  </div>

	  <h1>{{ heading_title }}</h1>
	  <ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	  </ul>
	</div>
  </div>

	  <style>
	  .clist 
	  {
		border-top:  1px #ccc solid;
		border-left:  1px #ccc solid;
	  }
	  
	  .clist td
	  {
		padding: 5px;
		border-right: 1px #ccc solid;
		border-bottom: 1px #ccc solid;
	  }
	  
	  .plus
	  {
		background: green;
		text-align: center;
	  }
	  
	  .minus
	  {
		background: #F58C6C;
		text-align: center;
	  }
	  
	  .vopros
	  {
		text-align: center;
	  }
	  </style>
  <div class="container-fluid">
  
	{% if  error_warning  %}
	
	<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	
	{% endif %}
	
	{% if success  %}
	<div class="alert alert-success"><i class="fa fa-info-circle"></i> {{ success }}
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	{% endif %}

	
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
	  </div>
	  <div class="panel-body">
	  
	<ul class="nav nav-tabs">
	
			<li class="active" style="cursor: pointer;"><a href="#tab-general" data-toggle="tab" id="link-tab-general" >{{ tab_general }}</a></li>
{#			<li style="cursor: pointer;"><a href="#tab-vkontakte" data-toggle="tab" id="link-tab-vkontakte" >{{ tab_vkontakte }}</a></li>#}
			<li style="cursor: pointer;"><a href="#tab-facebook" data-toggle="tab" id="link-tab-facebook" >{{ tab_facebook }}</a></li>
{#			<li style="cursor: pointer;"><a href="#tab-twitter" data-toggle="tab" id="link-tab-twitter" >{{ tab_twitter }}</a></li>#}
{#			<li style="cursor: pointer;"><a href="#tab-odnoklassniki" data-toggle="tab" id="link-tab-odnoklassniki" >{{ tab_odnoklassniki }}</a></li>#}
			
	
			<li style="cursor: pointer;"><a href="#tab-gmail" data-toggle="tab" id="link-tab-gmail" >{{ tab_gmail }}</a></li>
{#			<li style="cursor: pointer;"><a href="#tab-mailru" data-toggle="tab" id="link-tab-mailru" >{{ tab_mailru }}</a></li>#}

			
{#			<li style="cursor: pointer;"><a href="#tab-dobor" data-toggle="tab" id="link-tab-dobor" >{{ tab_dobor }}</a></li>#}
			
{#			<li id="link-tab-widget"><a href="#tab-widget" data-toggle="tab">{{ tab_widget }}</a></li>#}
{#			<li id="link-tab-popup"><a href="#tab-popup" data-toggle="tab">{{ tab_popup }}</a></li>#}
	  </ul>

	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal"
	>
	<input type="hidden" name="stay" id="stay_field" value="1">
		<input type="hidden" id="hiddentab" name="tab" value="{{ tab }}">
	  
	  
<div class="tab-content">

	  <div id="tab-general" class="tab-pane active">

	  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_status }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_status" class="form-control" >
				  {% if  socnetauth2_status  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
			
		</div>
	  
	  	<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_format }}
			</label>
			<div class="col-sm-10">
				<style>
				.format_table td
				{
					border-bottom: 1px #ccc solid;
					padding: 3px;
				}
				</style>
				<table class="format_table" cellpadding=0 cellspacing=0>
				<tr>
					<td></td>
					<td><b>{{ text_format_kvadrat }}</b></td>
					<td><b>{{ text_format_bline }}</b></td>
					<td><b>{{ text_format_lline }}</b></td>
				</tr>
				
				<tr>
					<td></td>
					<td valign="top"><img src="view/image/socnetauth2/kvadrat.gif" style="width: 250px;"></td>
					<td valign="top"><img src="view/image/socnetauth2/bline.gif" style="width: 250px;"></td>
					<td valign="top"><img src="view/image/socnetauth2/lline.gif" style="width: 250px;"></td>
				</tr>
				<tr>
					<td>
						<b>{{ text_format_account_page }}</b>
					</td>
					<td>
						<input type="radio" name="socnetauth2_account_format" value="kvadrat" id="socnetauth2_account_format_kvadrat"{% if socnetauth2_account_format=='kvadrat'  %} checked {% endif %}><label for="socnetauth2_account_format_kvadrat">{{ text_format_kvadrat }}</label>
					</td>
					<td>
						<input type="radio" name="socnetauth2_account_format" value="bline" id="socnetauth2_account_format_bline"{% if socnetauth2_account_format=='bline'  %} checked {% endif %}><label for="socnetauth2_account_format_bline">{{ text_format_bline }}</label>
					</td>
					<td>
						<input type="radio" name="socnetauth2_account_format" value="lline" id="socnetauth2_account_format_lline"{% if socnetauth2_account_format=='lline'  %} checked {% endif %}><label for="socnetauth2_account_format_lline">{{ text_format_lline }}</label>
					</td>
				</tr>
				<tr>
					<td>
						<b>{{ text_format_checkout_page }}</b>
					</td>
					<td>
						<input type="radio" name="socnetauth2_checkout_format" value="kvadrat" id="socnetauth2_checkout_format_kvadrat"{% if socnetauth2_checkout_format=='kvadrat'  %} checked {% endif %}><label for="socnetauth2_checkout_format_kvadrat">{{ text_format_kvadrat }}</label>
					</td>
					<td>
						<input type="radio" name="socnetauth2_checkout_format" value="bline" id="socnetauth2_checkout_format_bline"{% if socnetauth2_checkout_format=='bline'  %} checked {% endif %}><label for="socnetauth2_checkout_format_bline">{{ text_format_bline }}</label>
					</td>
					<td>
						<input type="radio" name="socnetauth2_checkout_format" value="lline" id="socnetauth2_checkout_format_lline"{% if socnetauth2_checkout_format=='lline'  %} checked {% endif %}><label for="socnetauth2_checkout_format_lline">{{ text_format_lline }}</label>
					</td>
				</tr>
				<tr>
					<td>
						<b>{{ text_format_simple_page }}</b>
					</td>
					<td>
					</td>
					<td>
						<input type="radio" name="socnetauth2_simple_format" value="bline" id="socnetauth2_simple_format_bline"{% if socnetauth2_simple_format=='bline'  %} checked {% endif %}><label for="socnetauth2_simple_format_bline">{{ text_format_bline }}</label>
					</td>
					<td>
						<input type="radio" name="socnetauth2_simple_format" value="lline" id="socnetauth2_simple_format_lline"{% if socnetauth2_simple_format=='lline'  %} checked {% endif %}><label for="socnetauth2_simple_format_lline">{{ text_format_lline }}</label>
					</td>
				</tr>
				<tr>
					<td>
						<b>{{ text_format_reg_page }}</b>
					</td>
					<td>
					</td>
					<td>
						<input type="radio" name="socnetauth2_reg_format" value="bline" id="socnetauth2_reg_format_bline"{% if socnetauth2_reg_format=='bline'  %} checked {% endif %}><label for="socnetauth2_reg_format_bline">{{ text_format_bline }}</label>
					</td>
					<td>
						<input type="radio" name="socnetauth2_reg_format" value="lline" id="socnetauth2_reg_format_lline"{% if socnetauth2_reg_format=='lline'  %} checked {% endif %}><label for="socnetauth2_reg_format_lline">{{ text_format_lline }}</label>
					</td>
				</tr>
				<tr>
					<td>
						<b>{{ text_format_simplereg_page }}</b>
					</td>
					<td>
					</td>
					<td>
						<input type="radio" name="socnetauth2_simplereg_format" value="bline" id="socnetauth2_simplereg_format_bline"{% if socnetauth2_simplereg_format=='bline'  %} checked {% endif %}><label for="socnetauth2_simplereg_format_bline">{{ text_format_bline }}</label>
					</td>
					<td>
						<input type="radio" name="socnetauth2_simplereg_format" value="lline" id="socnetauth2_simplereg_format_lline"{% if socnetauth2_simplereg_format=='lline'  %} checked {% endif %}><label for="socnetauth2_simplereg_format_lline">{{ text_format_lline }}</label>
					</td>
				</tr>
				</table>
			</div>
			
		</div>
	  
		<div id="showtype_block" style="display: none;">
		
	  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_showtype }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_showtype" class="form-control">
					<option value="window"
					{% if socnetauth2_showtype=='window'  %} selected {% endif %}
					>{{ text_showtype_window }}</option>
					<option value="redirect"
					{% if socnetauth2_showtype=='redirect'  %} selected {% endif %}
					>{{ text_showtype_redirect }}</option>
				</select>
				<div><i>{{ text_showtype_notice }}</i></div>
			</div>
			
		</div>
		</div>
		
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_label }}
			</label>
			<div class="col-sm-10">
				{% for language in languages %}
				<div class="input-group">
					<span class="input-group-addon"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
                    <input type="text"  class="form-control" name="socnetauth2_label[{{ language.language_id }}]" value="{% if socnetauth2_label[language.language_id] %}{{ socnetauth2_label[language.language_id] }}{% endif %}" >
                </div>
				{% endfor %}
			</div>
		</div>
		
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_save_to_addr }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_save_to_addr" class="form-control">
					<option value="customer_only" {% if socnetauth2_save_to_addr=='customer_only'  %} selected {% endif %}>{{ text_customer_only }}</option>
					<option value="customer_addr" {% if socnetauth2_save_to_addr=='customer_addr'  %} selected {% endif %}>{{ text_customer_addr }}</option>
				</select>
			</div>
		</div>
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				<span data-toggle="tooltip" title="{{ help_shop_folder }}">{{ entry_shop_folder }}</span>
			</label>
			<div class="col-sm-10">
				<input type="text" name="socnetauth2_shop_folder" class="form-control" value="{{ socnetauth2_shop_folder }}" />
			</div>
		</div>
		
		
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_email_auth }}
			</label>
			<div class="col-sm-10">
				<table width=100%>
				<tr>
					<td style="padding-right: 10px;">
						<input type="radio" name="socnetauth2_email_auth" value="none" 
					   id="socnetauth2_email_auth_none"
					   {% if socnetauth2_email_auth == 'none'  %} checked {% endif %}
					   >
					 </td>
					 <td>
						<label for="socnetauth2_email_auth_none">
							{{ entry_email_auth_none }}
					   </label>
					 </td>
				</tr>
				<tr>
					<td style="padding-right: 10px;">
						<input type="radio" name="socnetauth2_email_auth" value="confirm" 
					   id="socnetauth2_email_auth_confirm"
					   {% if socnetauth2_email_auth == 'confirm'  %} checked {% endif %}
					   >
					 </td>
					 <td>
					   <label for="socnetauth2_email_auth_confirm">
						{{ entry_email_auth_confirm }}
					   </label>
					 </td>
				</tr>
				<tr>
					<td style="padding-right: 10px;">
						<input type="radio" name="socnetauth2_email_auth" value="noconfirm" 
					   id="socnetauth2_email_auth_noconfirm"
					   {% if socnetauth2_email_auth == 'noconfirm'  %} checked {% endif %}
					   >
					</td>
					<td>
					   <label for="socnetauth2_email_auth_noconfirm">
						{{ entry_email_auth_noconfirm }}
					   </label>
					</td>
				 </tr>
				 </table>
			</div>
		</div>
		
		
	  </div>

	  <div id="tab-vkontakte" class="tab-pane">

		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_vkontakte_status }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_vkontakte_status" class="form-control">
				  {% if  socnetauth2_vkontakte_status  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>

	  	<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_vkontakte_appid }}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="socnetauth2_vkontakte_appid" value="{{ socnetauth2_vkontakte_appid }}" />
			</div>
		</div>
	  
	  	<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_vkontakte_appsecret }}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="socnetauth2_vkontakte_appsecret"  value="{{ socnetauth2_vkontakte_appsecret }}" />
			</div>
		</div>

	  	<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_vkontakte_customer_group_id }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_vkontakte_customer_group_id" class="form-control" >
					{% for customer_group in customer_groups %}
					{% if customer_group.customer_group_id == socnetauth2_vkontakte_customer_group_id %}
					<option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
					{% else %}
					<option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
					{% endif %} 
					{% endfor %}
				  </select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_debug }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_vkontakte_debug" class="form-control">
				  {% if  socnetauth2_vkontakte_debug  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>

		<iframe width=100% height=700 src="https://opencart3x.ru/manual/vk.html" border="0" frameborder="0" style="border: 1px #ccc solid;"></iframe>
		</div>

	  	<div id="tab-facebook" class="tab-pane">
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_facebook_status }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_facebook_status" class="form-control">
				  {% if  socnetauth2_facebook_status  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
					{% endif %} 
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_facebook_appid }}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="socnetauth2_facebook_appid"  value="{{ socnetauth2_facebook_appid }}" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_facebook_appsecret }}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="socnetauth2_facebook_appsecret"  value="{{ socnetauth2_facebook_appsecret }}" />
			</div>
		</div>
		
	  	<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_facebook_customer_group_id }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_facebook_customer_group_id" class="form-control" >
					{% for customer_group in customer_groups %}
					{% if customer_group.customer_group_id == socnetauth2_facebook_customer_group_id %}
					<option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
					{% else %}
					<option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
					{% endif %} 
					{% endfor %}
				  </select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_debug }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_facebook_debug" class="form-control">
				  {% if  socnetauth2_facebook_debug  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>
	  
		<iframe width=100% height=700 src="https://opencart3x.ru/manual/fb.html" border="0" frameborder="0" style="border: 1px #ccc solid;"></iframe>
			
	  </div>

	  <div id="tab-twitter" class="tab-pane">
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_twitter_status }}
			</label>
			<div class="col-sm-10">
				
				<select name="socnetauth2_twitter_status" class="form-control">
				  {% if  socnetauth2_twitter_status  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_twitter_consumer_key }}
			</label>
			<div class="col-sm-10">
				
				<input type="text" class="form-control" name="socnetauth2_twitter_consumer_key"  value="{{ socnetauth2_twitter_consumer_key }}" />
			</div>
		</div>
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_twitter_consumer_secret }}
			</label>
			<div class="col-sm-10">
				
				<input type="text" class="form-control" name="socnetauth2_twitter_consumer_secret"  value="{{ socnetauth2_twitter_consumer_secret }}" />
			</div>
		</div>
		
	  	<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_twitter_customer_group_id }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_twitter_customer_group_id" class="form-control" >
					{% for customer_group in customer_groups %}
					{% if customer_group.customer_group_id == socnetauth2_twitter_customer_group_id %}
					<option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
					{% else %}
					<option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
					{% endif %} 
					{% endfor %}
				  </select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">
				{{ entry_debug }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_twitter_debug" class="form-control">
				  {% if  socnetauth2_twitter_debug  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>

		<iframe width=100% height=700 src="https://opencart3x.ru/manual/twitter.html" border="0" frameborder="0" style="border: 1px #ccc solid;"></iframe>
	  
	  </div>

	  <div id="tab-odnoklassniki" class="tab-pane">
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_odnoklassniki_status }}
			</label>
			<div class="col-sm-10">
			
				<select name="socnetauth2_odnoklassniki_status" class="form-control">
				  {% if  socnetauth2_odnoklassniki_status  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_odnoklassniki_application_id }}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="socnetauth2_odnoklassniki_application_id"  value="{{ socnetauth2_odnoklassniki_application_id }}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_odnoklassniki_public_key }}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="socnetauth2_odnoklassniki_public_key"  value="{{ socnetauth2_odnoklassniki_public_key }}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_odnoklassniki_secret_key }}
			</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="socnetauth2_odnoklassniki_secret_key"  value="{{ socnetauth2_odnoklassniki_secret_key }}" />
			</div>
		</div>
		
	  	<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_odnoklassniki_customer_group_id }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_odnoklassniki_customer_group_id" class="form-control" >
					{% for customer_group in customer_groups %}
					{% if customer_group.customer_group_id == socnetauth2_odnoklassniki_customer_group_id %}
					<option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
					{% else %}
					<option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
					{% endif %} 
					{% endfor %}
				  </select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_debug }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_odnoklassniki_debug" class="form-control">
				  {% if  socnetauth2_odnoklassniki_debug  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>
		
		<iframe width=100% height=700 src="https://opencart3x.ru/manual/ok.html" border=0 frameborder="0" style="border: 1px #ccc solid;"></iframe>
		
	  </div>

	  <div id="tab-gmail" class="tab-pane">
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_gmail_status }}
			</label>
			<div class="col-sm-10">
			  <select name="socnetauth2_gmail_status" class="form-control">
				  {% if  socnetauth2_gmail_status  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				 {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				 {% endif %} 
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_gmail_client_id }}
			</label>
			<div class="col-sm-10">
			  <input type="text" name="socnetauth2_gmail_client_id"  class="form-control" 
				value="{{ socnetauth2_gmail_client_id }}" />
			</div>
		</div>
		
		 <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_gmail_client_secret }}
			</label>
			<div class="col-sm-10">
			  <input type="text" name="socnetauth2_gmail_client_secret"  class="form-control" 
				value="{{ socnetauth2_gmail_client_secret }}" />
			</div>
		</div>
		
	  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_gmail_customer_group_id }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_gmail_customer_group_id" class="form-control" >
					{% for customer_group in customer_groups %}
					{% if customer_group.customer_group_id == socnetauth2_gmail_customer_group_id %}
					<option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
					{% else %}
					<option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
					{% endif %} 
					{% endfor %}
				  </select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_debug }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_gmail_debug" class="form-control">
				  {% if  socnetauth2_gmail_debug  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				 {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				 {% endif %} 
				</select>
			</div>
		</div>

		<iframe width=100% height=700 src="https://opencart3x.ru/manual/google.html" border="0" frameborder="0" style="border: 1px #ccc solid;"></iframe>

	  </div>
	  
	  
	  <div id="tab-mailru" class="tab-pane">
	  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_mailru_status }}
			</label>
			<div class="col-sm-10">
			  <select name="socnetauth2_mailru_status" class="form-control">
				  {% if  socnetauth2_mailru_status  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				 {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				 {% endif %} 
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_mailru_id }}
			</label>
			<div class="col-sm-10">
			   <input type="text" name="socnetauth2_mailru_id"  class="form-control" 
				value="{{ socnetauth2_mailru_id }}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_mailru_private }}
			</label>
			<div class="col-sm-10">
			   <input type="text" name="socnetauth2_mailru_private"  class="form-control" 
				value="{{ socnetauth2_mailru_private }}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_mailru_secret }}
			</label>
			<div class="col-sm-10">
			   <input type="text" name="socnetauth2_mailru_secret"  class="form-control" 
				value="{{ socnetauth2_mailru_secret }}" />
			</div>
		</div>
		
	  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_mailru_customer_group_id }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_mailru_customer_group_id" class="form-control" >
					{% for customer_group in customer_groups %}
					{% if customer_group.customer_group_id == socnetauth2_mailru_customer_group_id %}
					<option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
					{% else %}
					<option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
					{% endif %} 
					{% endfor %}
				  </select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_debug }}
			</label>
			<div class="col-sm-10">
				<select name="socnetauth2_mailru_debug" class="form-control">
				  {% if  socnetauth2_mailru_debug  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				  {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>
		
		<iframe width=100% height=700 src="https://opencart3x.ru/manual/mailru.html" border="0" frameborder="0" style="border: 1px #ccc solid;"></iframe>

	  </div>

	  <div id="tab-dobor" class="tab-pane">
	  
		<p><b>{{ entry_confirm_data }}</b></p>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_dobortype }}
			</label>
			<div class="col-sm-10">
			
				<select  class="form-control" name="socnetauth2_dobortype">
					<option value="one"	{% if  socnetauth2_dobortype == 'one'  %} {{ "selected" }} {% endif %}>  {{ entry_dobortype_one }}</option>
					<option value="every" {% if  socnetauth2_dobortype == 'every'  %} {{ "selected" }} {% endif %}>{{ entry_dobortype_every }}</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_firstname }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_firstname_status">
				  {% if  socnetauth2_confirm_firstname_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_firstname_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				</select>
				<input type="checkbox" name="socnetauth2_confirm_firstname_required" value="1"	id="socnetauth2_confirm_firstname_required"	{% if  socnetauth2_confirm_firstname_required  %} checked {% endif %}>
				<label for="socnetauth2_confirm_firstname_required">{{ text_required }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_lastname }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_lastname_status">
				{% if  socnetauth2_confirm_lastname_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				 {% elseif   socnetauth2_confirm_lastname_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				 {% endif %} 
				 </select>
				<input type="checkbox" name="socnetauth2_confirm_lastname_required" value="1"
				id="socnetauth2_confirm_lastname_required"
				{% if  socnetauth2_confirm_lastname_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_lastname_required">{{ text_required }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_email }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_email_status">
				{% if  socnetauth2_confirm_email_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_email_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				</select>
				<input type="checkbox" name="socnetauth2_confirm_email_required" value="1"
				id="socnetauth2_confirm_email_required"
				{% if  socnetauth2_confirm_email_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_email_required">{{ text_required }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_phone }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_telephone_status">
				 {% if  socnetauth2_confirm_telephone_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_telephone_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				 </select>
				<input type="checkbox" name="socnetauth2_confirm_telephone_required" value="1"
				id="socnetauth2_confirm_telephone_required"
				{% if  socnetauth2_confirm_telephone_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_telephone_required">{{ text_required }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_company }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_company_status">
				 {% if  socnetauth2_confirm_company_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_company_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				 </select>
				<input type="checkbox" name="socnetauth2_confirm_company_required" value="1"
				id="socnetauth2_confirm_company_required"
				{% if  socnetauth2_confirm_company_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_company_required">{{ text_required }}</label>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_postcode }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_postcode_status">
				 {% if  socnetauth2_confirm_postcode_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_postcode_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				 </select>
				<input type="checkbox" name="socnetauth2_confirm_postcode_required" value="1"
				id="socnetauth2_confirm_postcode_required"
				{% if  socnetauth2_confirm_postcode_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_postcode_required">{{ text_required }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_country }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_country_status">
				 {% if  socnetauth2_confirm_country_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_country_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				 </select>
				<input type="checkbox" name="socnetauth2_confirm_country_required" value="1"
				id="socnetauth2_confirm_country_required"
				{% if  socnetauth2_confirm_country_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_country_required">{{ text_required }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_zone }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_zone_status">
				 {% if  socnetauth2_confirm_zone_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_zone_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				 </select>
				<input type="checkbox" name="socnetauth2_confirm_zone_required" value="1"
				id="socnetauth2_confirm_zone_required"
				{% if  socnetauth2_confirm_zone_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_zone_required">{{ text_required }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_city }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_city_status">
				 {% if  socnetauth2_confirm_city_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_city_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				 </select>
				<input type="checkbox" name="socnetauth2_confirm_city_required" value="1"
				id="socnetauth2_confirm_city_required"
				{% if  socnetauth2_confirm_city_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_city_required">{{ text_required }}</label>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_confirm_address_1 }}
			</label>
			<div class="col-sm-10">
			<select  class="form-control" name="socnetauth2_confirm_address_1_status">
				 {% if  socnetauth2_confirm_address_1_status == 1   %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" selected="selected" >{{ text_confirm_none }}</option>
					<option value="2" >{{ text_confirm_allways }}</option>
				  {% elseif   socnetauth2_confirm_address_1_status == 2  %}
					<option value="0">{{ text_confirm_disable }}</option>
					<option value="1" >{{ text_confirm_none }}</option>
					<option value="2" selected="selected" >{{ text_confirm_allways }}</option>
				   {% else %}
					<option value="0" selected="selected">{{ text_confirm_disable }}</option>
					<option value="1">{{ text_confirm_none }}</option>
					<option value="2">{{ text_confirm_allways }}</option>
				{% endif %} 
				 </select>
				<input type="checkbox" name="socnetauth2_confirm_address_1_required" value="1"
				id="socnetauth2_confirm_address_1_required"
				{% if  socnetauth2_confirm_address_1_required  %}
				checked
				{% endif %}
				><label for="socnetauth2_confirm_address_1_required">{{ text_required }}</label>
			</div>
		</div>
	  </div>

	  <div id="tab-widget" class="tab-pane">
	  
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_widget_name }}
			</label>
			<div class="col-sm-10">
			
			{% for language in languages %}
				<div class="input-group">
					<span class="input-group-addon"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
                    <input type="text"  class="form-control"  name="socnetauth2_widget_name[{{ language.language_id }}]" value="{% if  socnetauth2_widget_name[language.language_id] %}{{ socnetauth2_widget_name[language.language_id] }}{% endif %}" >
                </div>
			{% endfor %}
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_widget_format }}
			</label>
			<div class="col-sm-10">
			<table>
				<tr>
					<td width=200><input type="radio" name="socnetauth2_widget_format" 
					value="kvadrat" 
					onClick="show_widget_showtype_block()"
					id="socnetauth2_widget_format_kvadrat"
					{% if  socnetauth2_widget_format=='kvadrat'  %} {{ "checked" }} {% endif %} 
					><label for="socnetauth2_widget_format_kvadrat">{{ text_format_kvadrat }}</label></td>
					
					<td width=200><input type="radio" name="socnetauth2_widget_format" 
					onClick="show_widget_showtype_block()"
					value="lline" id="socnetauth2_widget_format_lline"
					{% if  socnetauth2_widget_format=='lline'  %} {{ "checked" }} {% endif %}
					><label for="socnetauth2_widget_format_lline">{{ text_format_lline }}</label></td>
				</tr>
				<tr>
					<td valign=top><img src="view/image/socnetauth2/kvadrat.gif"></td>
					<td valign=top><img src="view/image/socnetauth2/lline.gif"></td>
				</tr>
				</table>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_widget_after }}
			</label>
			<div class="col-sm-10">
				<select  class="form-control" name="socnetauth2_widget_after">
					<option value="hide"
					{% if  socnetauth2_widget_after=='hide'  %} {{ "selected" }} {% endif %}
					>{{ text_widget_after_hide }}</option>
					<option value="show"
					{% if  socnetauth2_widget_after=='show'  %} {{ "selected" }} {% endif %}
					>{{ text_widget_after_show }}</option>
				</select>
			</div>
		</div>
	  </div>

	  <div id="tab-popup" class="tab-pane">
	  
	  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_mobile_control }}
			</label>
			<div class="col-sm-10"><select name="socnetauth2_mobile_control" class="form-control" >
				  {% if  socnetauth2_mobile_control  %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0" >{{ text_disabled }}</option>
				 {% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected" >{{ text_disabled }}</option>
				 {% endif %} 
				</select>
			</div>			
		</div>
	  
	  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_widget_status }}
			</label>
			<div class="col-sm-10">
				<select  class="form-control" name="socnetauth2_popup_status" class="form-control">
				  {% if socnetauth2_popup_status %}
				  <option value="1" selected="selected">{{ text_enabled }}</option>
				  <option value="0">{{ text_disabled }}</option>
				 {% else %}
				  <option value="1">{{ text_enabled }}</option>
				  <option value="0" selected="selected">{{ text_disabled }}</option>
				 {% endif %} 
				</select>
			</div>			
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-access-secret">
				{{ entry_popup_name }}
			</label>
			<div class="col-sm-10">
				{% for language in languages %}
				<div class="input-group">
					<span class="input-group-addon"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
                    <input type="text" class="form-control"  name="socnetauth2_popup_name[{{ language.language_id }}]" value="{% if  socnetauth2_popup_name[language.language_id] %}{{ socnetauth2_popup_name[language.language_id] }}{% endif %}" >
                </div>
				{% endfor %}
			</div>
		</div>
		
	  </div>
	  </form>

	</div>
  </div>
</div>
<script>
		function set_tab()
		{
			if ( $('#link-tab-general').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-general';
			}
			
			if ( $('#link-tab-vkontakte').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-vkontakte';
			}
			
			if ( $('#link-tab-facebook').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-facebook';
			}
			
			if ( $('#link-tab-twitter').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-twitter';
			}
			
			if ( $('#link-tab-odnoklassniki').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-odnoklassniki';
			}
			
			if ( $('#link-tab-dobor').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-dobor';
			}
			
			if ( $('#link-tab-widget').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-widget';
			}
			
			if ( $('#link-tab-popup').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-popup';
			}
			
			if ( $('#link-tab-design').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-design';
			}
			
			if ( $('#link-tab-support').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-support';
			}
			
	
			if ( $('#link-tab-gmail').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-gmail';
			}
			
			if ( $('#link-tab-mailru').attr('aria-expanded') == 'true' )
			{
				document.getElementById('hiddentab').value = 'link-tab-mailru';
			}

		}
		
		$('#{{ tab }}').click();
		
	</script>
{{ footer }}